.header {
  display: flex;
  align-items: center;
  gap: 80px;
  margin: 24px 0 24px 0;
  width: 100%;

  @media (max-width: 1350px) {
    gap: 40px;
    margin: 12px 0;
  }

  @media (max-width: 1024px) {
    gap: 20px;
    margin: 16px 0;
  }

  @media (max-width: 850px) {
    justify-content: space-between;
  }
}

.header_logo {
  @media (max-width: 800px) {
    width: 80px;
    height: 32px;
  }
}

.header_inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 80px;

  @media (max-width: 1350px) {
    gap: 40px;
  }

  @media (max-width: 850px) {
    justify-content: flex-end;
  }

  @media (max-width: 500px) {
    gap: 20px;
  }
}

.header_nav-wrapper {
  display: flex;
  gap: 40px;
  width: 100%;

  @media (max-width: 850px) {
    width: auto;
  }
  @media (max-width: 500px) {
    gap: 20px;
  }
}

.header_nav-innerWrapper {
  display: flex;
  gap: 40px;

  @media (max-width: 500px) {
    gap: 20px;
  }
}

.header_label-logo {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 16px;
}

.header_link {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  @media (max-width: 850px) {
    display: none;
  }
}

.header_link--icon,
.header_link--icon {
  display: none;
  @media (max-width: 850px) {
    display: flex;
    padding: 3px;
    align-items: center;
    justify-content: center;
  }
}

.header_link--active::before {
  background-color: #dc5dfc;
  position: absolute;
  content: "";
  width: 100%;
  height: 1.5px;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
}
