.header {
  display: flex;
  align-items: center;
  gap: 80px;
  margin: 24px 0 56px 0;
  width: 100%;

  @media (max-width: 1350px) {
    gap: 40px;
    margin: 12px 0 40px;
  }
}

.header_inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 80px;

  @media (max-width: 1350px) {
    gap: 40px;
  }
}

.header_nav-wrapper {
  display: flex;
  gap: 40px;
  width: 100%;
}

.header_nav-innerWrapper {
  display: flex;
  gap: 40px;
}

.header_label-logo {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 16px;
}

.header_link {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header_link--active::before {
  background-color: #dc5dfc;
  position: absolute;
  content: "";
  width: 100%;
  height: 1.5px;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}
