.movie_genre-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 290px));
  gap: 64px 40px;
  margin: 0 0 160px;
  padding: 0;
}

.movie_genre-title {
  font-size: 48px;
  line-height: 56px;
  color: white;
  text-align: left;
  margin: 0 0 64px;
}
.movie_genre-item {
  background-color: #000000;
  border-radius: 16px;
  overflow: hidden;
  height: 304px;
}

.movie_genre-name {
  margin: 20px 0 32px;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
}

.movie_genre-inner {
  display: flex;
  flex-direction: column;
}
