.top_movie-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 120px;
  justify-content: center;

  @media (max-width: 1350px) {
    margin: 0 0 80px;
  }

  @media (max-width: 1050px) {
    margin: 0 0 60px;
  }

  @media (max-width: 800px) {
    margin: 0 0 32px;
  }
}

.top_movie-title {
  color: #fff;
  font-size: 40px;
  line-height: 48px;
  margin: 0 auto 64px 0;

  @media (max-width: 1350px) {
    font-size: 34px;
    line-height: 40px;
    margin: 0 auto 40px 0;
  }

  @media (max-width: 800px) {
    font-size: 24px;
    line-height: 32px;
    margin: 0 auto 28px 0;
  }
}

.top_movie-list {
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 224px));
  gap: 64px 40px;
  margin: 0 auto;
  padding: 0;
  list-style: none;

  @media (max-width: 1350px) {
    gap: 40px 30px;
    grid-template-columns: repeat(5, minmax(170px, 200px));
  }

  @media (max-width: 1050px) {
    gap: 20px 10px;
    grid-template-columns: repeat(5, minmax(150px, 180px));
  }

  @media (max-width: 1024px) {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 20px 40px;
    margin-left: -20px;
    margin-right: -20px;
    scrollbar-width: none;
  }
}

.top_movie-item {
  position: relative;
  flex: 0 0 auto;

  @media (max-width: 1024px) {
    max-width: 255px;
  }
}

.top_movie-img {
  border-radius: 16px;
  width: 100%;
  height: 100%;
}

.top_movie-number {
  position: absolute;
  background-color: white;
  padding: 8px 24px;
  border-radius: 50px;
  font-size: 24px;
  line-height: 32px;
  color: #6a5dc2;
  top: -15px;
  left: -15px;

  @media (max-width: 1050px) {
    padding: 4px 14px;
  }
}
