.top_movie-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 120px;
}

.top_movie-title {
  color: #fff;
  font-size: 40px;
  line-height: 48px;
  margin: 0 0 64px;
  text-align: left;
}

.top_movie-list {
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 224px));
  gap: 64px 40px;
  margin: 0;
  padding: 0;
}

.top_movie-img {
  border-radius: 16px;
}

.top_movie-item {
  position: relative;
}

.top_movie-number {
  position: absolute;
  background-color: white;
  padding: 8px 24px;
  border-radius: 50px;
  font-size: 24px;
  line-height: 32px;
  color: #6a5dc2;
  top: -15px;
  left: -15px;
}
