.profile_user {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-x: visible;
  height: 100%;
}

.profile_wrapper {
  display: flex;
  flex-direction: column;
  margin: 30px 0 0 0;

  @media (max-width: 600px) {
    margin: 10px 0 0;
  }
}

.profile_title {
  color: #fff;
  margin: 0 auto 73px 0;
  font-size: 48px;
  line-height: 56px;

  @media (max-width: 850px) {
    font-size: 38px;
    line-height: 46px;
    margin: 0 auto 46px 0;
  }

  @media (max-width: 600px) {
    font-size: 24px;
    line-height: 32px;
  }
}

.profile_nav {
  display: flex;
  flex-direction: column;
  margin: 0 0 80px;
  overflow-x: hidden;
  width: 100%;
}

.profile_nav-wrapper {
  display: flex;
  gap: 64px;
  align-items: center;
  margin: 0 0 70px;

  @media (max-width: 600px) {
    gap: 24px;
    margin: 0 0 45px;
  }

  @media (max-width: 375px) {
    gap: 14px;
    margin: 0 0 45px;
  }
}

.profile_nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  outline: none;
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  position: relative;

  @media (max-width: 375px) {
    font-size: 18px;
    line-height: 22px;
  }
}

.profile_nav-btn--active::before {
  background-color: #dc5dfc;
  position: absolute;
  content: "";
  width: 100%;
  height: 1.5px;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}

.favorite_scroll-wrapper {
  overflow-x: auto;
  width: 100%;
}

.profile_nav-btn-text {
  @media (max-width: 850px) {
    display: none;
  }
}
