.profile_user {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.profile_wrapper {
  display: flex;
  flex-direction: column;
  margin: 30px 0 0 0;
}

.profile_title {
  color: #fff;
  margin: 0 auto 73px 0;
  font-size: 48px;
  line-height: 56px;
}

.profile_nav {
  display: flex;
  flex-direction: column;
  margin: 0 0 80px;
  width: auto;
}

.profile_nav-wrapper {
  display: flex;
  gap: 64px;
  align-items: center;
  margin: 0 0 70px;
}

.profile_nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  outline: none;
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  position: relative;
}

.profile_nav-btn--active::before {
  background-color: #dc5dfc;
  position: absolute;
  content: "";
  width: 100%;
  height: 1.5px;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}
