#root {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  overflow-x: hidden;

  @media (max-width: 890px) {
    overflow: visible;
    padding: 0 20px;
  }
}
