.header_label {
  position: relative;
  width: 100%;
}

.search {
  background-color: #393b3c;
  padding: 8px;
  position: absolute;
  top: 60px;
  right: 0;
  border-radius: 6px;
  z-index: 999;
  width: 100%;
}

.search_movie {
  display: flex;
  gap: 16px;
  padding: 16px 0;
  align-items: center;
}

.search_movie-info {
  display: flex;
  gap: 16px;
}

.search_movie-data {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #bcbdbd;

  p {
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-align: left;
  }
}

.search_movie-info-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 4px 12px;
  border-radius: 16px;
}

.search_movie-info-sts {
  font-size: 14px;
  line-height: 20px;
}

.header_label-input {
  padding: 12px 16px 12px 52px;
  border-radius: 8px;
  border: none;
  background-color: #393b3c;
  height: 48px;
  outline: none;
  color: #fff;
  width: 100%;
}

.header_label-input::placeholder {
  font-size: 18px;
  line-height: 24px;
}
