.movie_profile {
  display: flex;
  flex-direction: column;
}

.movie_profile-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 0 120px;
}

.movie_profile-title {
  margin: 0 0 64px;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
}

.movie_profile-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  gap: 24px;
  width: 100%;
  max-width: 800px;
}

.movie_profile-list li {
  display: flex;
  align-items: baseline;
  width: 100%;

  @media (max-width: 730px) {
    flex-direction: column;
    gap: 4px;
  }
}

.label {
  display: flex;
  flex-grow: 1;
  align-items: baseline;
  white-space: nowrap;

  @media (max-width: 730px) {
    font-size: 14px;
    line-height: 20px;
    color: #888b96;
  }
}

.label::after {
  content: "";
  flex-grow: 1;
  margin: 0 12px;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.3);

  @media (max-width: 730px) {
    display: none;
  }
}

.value {
  white-space: wrap;
  text-align: left;
}
