.movie_profile {
  display: flex;
  flex-direction: column;
}

.movie_profile-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 0 120px;
}

.movie_profile-title {
  margin: 0 0 64px;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
}

.movie_profile-list {
  list-style: none;
  flex-direction: column;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  gap: 24px;
}
