.genre_movie {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 160px;
}

.genre_movie-list {
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 224px));
  gap: 60px 40px;
  margin: 0 0 64px;
  padding: 0;

  img {
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 0px 18px 3px #fff;
  }
}

.genre_movie-title {
  color: #fff;
  font-size: 48px;
  line-height: 56px;
  margin: 0;
}

.genre_movie-title-icon {
  padding: 10px;
}

.genre_movie-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 64px;
}

.genre_movie-btn {
  background-color: #67a5eb;
  color: white;
  font-size: 18px;
  line-height: 24px;
  border-radius: 28px;
  padding: 16px 48px;
  margin: 0 auto;
}
