.footer {
  display: flex;
  justify-content: flex-end;
  margin: auto 0 80px;

  @media (max-width: 800px) {
    justify-content: flex-start;
    margin: auto 0 24px;
  }
}

.footer_list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  gap: 20px;
  margin: 0;
  padding: 0;

  li {
    border: 2px solid #d7d7db;
    border-radius: 8px;
  }

  li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 36px;
    height: 36px;
  }
}
