.random_movie {
  display: flex;
  margin: 0 0 32px;
  overflow: hidden;
  gap: 40px;
  align-items: center;
}

.random_movie-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.random_movie-info {
  display: flex;
  gap: 16px;
  align-items: center;
  margin: 0 0 16px;
}

.random_movie-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 4px 12px;
  border-radius: 16px;
}

.random_movie-info-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  line-height: 24px;
}

.random_movie-control {
  background-color: #333333;
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.random_movie-title {
  color: #ffffff;
  font-size: 48px;
  line-height: 56px;
  margin: 0 0 16px;
  text-align: left;
}

.random_movie-desc {
  color: rgba(255, 255, 255, 0.7);
  font-size: 24px;
  line-height: 32px;
  margin: 0 0 60px;
  text-align: left;
}

.random_movie_main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.random_movie-photo {
  border-radius: 16px;
  width: 680px;
}

.random_movie-btnControl {
  display: flex;
  gap: 20px;
}

.random_movie-transfer {
  background-color: #333333;
  color: white;
  font-size: 18px;
  line-height: 24px;
  border-radius: 28px;
  padding: 16px 48px;
}

.random_movie-transfer--blue {
  background-color: #67a5eb;
}

.trailer_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
}
