.registerlogin_wrapper {
  display: flex;
  flex-direction: column;
  width: 420px;
  background-color: #fff;
  padding: 64px 40px;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.registerlogin_wrapper-no {
  display: none;
}

.registerlogin_icon {
  margin: 0 0 40px;
}

.registerlogin_btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.registerlogin_close-btn {
  position: absolute;
  top: 0;
  right: -74px;
  border-radius: 24px;
  width: 48px;
  height: 48px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
